.icon-zenodo {
	background-image: url('../img/zenodo_z.svg');
}

BUTTON.ui-dialog-titlebar-close {
	visibility: hidden;
}

#zenodo_dialog {
	height: 100%;
}

#zenodo_dialog_buttons {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-top: #ddd 1px solid;
}

#zenodo_dialog_close {
	background: #ececec;
	width: 34%;
}

#zenodo_dialog_sandbox {
	background: #e4e4e4;
}

#zenodo_dialog_production {
	background: #dcdcdc;
}

DIV.zenodo_dialog_button {
	display: inline-block;
	width: 33%;
	height: 50px;
	text-align: center;
	vertical-align: center;
	line-height: 50px;
	font-weight: bold;
	cursor: pointer;
}

DIV.zenodo_dialog_shadow {
	-moz-box-shadow: 3px 3px 5px #5151514D;
	-webkit-box-shadow: 3px 3px 5px #5151514D;
	box-shadow: 3px 3px 5px #5151514D;
}

#zenodo_end {
	width: 90%;
	text-align: center;
	height: 40px;
	top: 42%;
	font-style: italic;
	position: absolute;
}

#zenodo_error {
	width: 100%;
	font-style: italic;
	color: #f33;
}

TD.zendialog_left {
	font-weight: bold;
	width: 180px;
	text-align: right;
	background: #eee;
}

TD.zendialog_creator_left {
	height: 100px;
	vertical-align: top;
	padding-top: 10px;
}

TD.zendialog_creator {
	vertical-align: top;
}

SPAN.zendialog_sub {
	font-weight: normal;
	font-style: italic;
	font-size: 11px;
	cursor: pointer;
}

#zendialog_creator_realname, #zendialog_creator_orcid {
	display: inline-block;
}

#zenodo_creator_item {
	font-style: italic;
}

#zendialog_create_add {
	display: inline-block;
	width: 16px;
	margin-left: 4px;
	height: 16px;
	cursor: pointer;
}

DIV.zendialog_result {
	width: 200px;
	padding: 10px;
	text-align: left;
}

DIV.zendialog_result:hover {
	background: #adadad33;
	cursor: pointer;
}

#zendialog_creator_search_result {
	position: absolute;
	z-index: 5;
	border-radius: 4px;
	border: solid 1px #00000066;
	color: #000000aa;
	background: #ffffffdd;
}

#zendialog_creator_search_result > #zendialog_creator_search {
	position: relative;
	top: 30px;
	left: -10px;
	width: 150px;
	height: 30px;
}

#zendialog_creator_syntax_error {
	color: #f33;
}